@using WebApp.ViewModels
@using WebApp.Models.Enums
@model View_Organisation.OrganisationObj


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}








<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    @*<div class="modal-dialog" role="document">*@
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Organisation?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="Registerform" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <span>Legal Name</span>
                        </div>

                        <div class="col-sm-6">
                            <span>Trade Name</span>
                        </div>
                    </div>


                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">

                            <input id="txtlegalname" asp-for="Legal_name" type="text" class="form-control form-control-user">
                            <span asp-validation-for="Legal_name" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">

                            <input id="txttradename" asp-for="Trade_name" type="text" class="form-control form-control-user">
                            <span asp-validation-for="Trade_name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <span>Industry</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <input id="txtIndustry" asp-for="Industry" type="text" class="form-control form-control-user">
                        <span asp-validation-for="Industry" class="text-danger"></span>
                    </div>

                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <span>Country</span>
                        </div>

                    </div>

                    <div class="form-group">


                        <select id="txtCountry" class="form-control form-control-user" asp-for="Country" asp-items="Model.Countries">
                            <option></option>
                        </select>



                    </div>

                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <span>Currencies</span>
                        </div>

                    </div>

                    <div class="form-group">

                        <select id="txtCurrency" class="form-control form-control-user" asp-for="Currency" asp-items="Model.Currencies">
                            <option></option>
                        </select>
                        <span asp-validation-for="Currency" class="text-danger"></span>

                    </div>

                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <span>Company Size</span>
                        </div>

                        <div class="col-sm-6">
                            <span>Registration Stage</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">

                            <input id="txtCompanysize" asp-for="Companysize" type="text" class="form-control form-control-user" placeholder="Company Size">
                            <span asp-validation-for="Companysize" class="text-danger"></span>

                        </div>
                        <div class="col-sm-6">

                            <select id="txtRegistrationStage" asp-for="Registration_stage" asp-items="Html.GetEnumSelectList<EnumItems.Registration_Stage>()" class="form-control form-control-user">
                                <option>
                                </option>
                            </select>
                            <span asp-validation-for="Registration_stage" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="modal-footer">

                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>


                        <button id="btnAddNewReg" type="button" class="btn btn-primary">Add</button>

                    </div>

                </form>

            </div>


        </div>
    </div>
</div>



<!-- Add New Location -->
<div class="modal fade" id="newModalLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="saveForm" method="post">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="form-group">

                        <label class="control-label"></label>
                        <input id="nlocationCode" class="form-control" />

                    </div>

                </div>

                <div class="modal-body">

                    <div class="form-group">

                        <label class="control-label"></label>
                        <input id="nlocationName" class="form-control" />


                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btnCancel" data-dismiss="modal">Close</button>
                    <button id="btnAdd" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<h1 class="h6 mb-2 text-gray-800">Organisations</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"></h6>

        <a id="btnAddOrgNew" data-toggle="modal" data-target="#logoutModal" asp-action="">
            <span class="text-danger h6">Add New</span>
        </a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Legal_name)</th>
                        <th>@Html.DisplayNameFor(model => model.Trade_name)</th>
                        <th>@Html.DisplayNameFor(model => model.Industry)</th>
                        <th>@Html.DisplayNameFor(model => model.Country)</th>
                        <th>@Html.DisplayNameFor(model => model.Currency)</th>
                        <th>@Html.DisplayNameFor(model => model.Timezone)</th>
                        <th>@Html.DisplayNameFor(model => model.Companysize)</th>
                        <th>@Html.DisplayNameFor(model => model.Registration_stage)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>


                    @foreach (var itm in Model.Orgs)
                    {

                    <tr>
                        <td>@Html.DisplayFor(model => itm.Legal_name)</td>
                        <td>@Html.DisplayFor(model => itm.Trade_name)</td>
                        <td>@Html.DisplayFor(model => itm.Industry)</td>
                        <td>@Html.DisplayFor(model => itm.Country)</td>
                        <td>@Html.DisplayFor(model => itm.Currency)</td>
                        <td>@Html.DisplayFor(model => itm.Timezone)</td>
                        <td>@Html.DisplayFor(model => itm.Companysize)</td>
                        <td>@Html.DisplayFor(model => itm.Registration_stage)</td>
                        <td>
                            
                            <input id="SelectForm" type="submit" value="Select" class="btn btn-block" onclick="SelectOrganisationform('@itm.Id' +'|'+ '@itm.Legal_name')" />

                        </td>
                        <td>
                            @*<a id="EditForm" class="btn-link" onclick="Editform('@itm.id')" asp-action="">Edit</a>*@
                            <input id="EditForm" type="submit" value="Edit" class="btn btn-primary" onclick="Editform('@itm.Id')" />
                        </td>


                    </tr>

                    }









                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="selectedOrganisation" class="row" >
    <label id="lblOrganisationName">Selected Organisation</label>
</div>


    <div class="row">

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Un-Assigned Registered Accounts</h6>
                </div>
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="selectAll"></th>
                                    <th>@Html.DisplayNameFor(model => model.AllUnAssignedAccounts[0].FirstName)</th>
                                    <th>@Html.DisplayNameFor(model => model.AllUnAssignedAccounts[0].LastName)</th>
                                    <th>@Html.DisplayNameFor(model => model.AllUnAssignedAccounts[0].Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.AllUnAssignedAccounts[0].PhoneNumber)</th>

                                </tr>
                            </thead>

                            <tbody>


                                @foreach (var itm in Model.AllUnAssignedAccounts)
                                {

                                    <tr>

                                        <td><input type="checkbox" name="rowSelect" value=@itm.Email></td>
                                        <td>@Html.DisplayFor(model => itm.FirstName)</td>
                                        <td>@Html.DisplayFor(model => itm.LastName)</td>
                                        <td>@Html.DisplayFor(model => itm.Email)</td>
                                        <td>@Html.DisplayFor(model => itm.PhoneNumber)</td>

                                    </tr>

                                }



                            </tbody>
                        </table>
                    </div>

                    <input id="AssignAccounts" type="submit" value="Assign Account(s)" class="btn btn-primary" onclick="assignAccounts()" />

                </div>
            </div>
        </div>


        @{ if (1 == 1)
            {
                <div class="col-lg-6 mb-4">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Assigned Accounts</h6>
                        </div>
                        <div class="card-body">


                        </div>
                    </div>
                </div>
            }
        }

    </div>

    @section Scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>


            document.getElementById("selectAll").addEventListener("change", function () {
                const checkboxes = document.querySelectorAll("input[name='rowSelect']");
                checkboxes.forEach(cb => cb.checked = this.checked);
            });

            function getSelectedIds() {
                const selected = [];
                document.querySelectorAll("input[name='rowSelect']:checked").forEach(cb => selected.push(cb.value));

            }

            function assignAccounts() {
                const selected = [];
                document.querySelectorAll("input[name='rowSelect']:checked").forEach(cb => selected.push(cb.value));
                alert(selected);
            }


            $("#btnAddNewReg").click(function () {

                var legalname = document.getElementById("txtlegalname").value;
                var tradename = document.getElementById("txttradename").value;
                var Industry = document.getElementById("txtIndustry").value;
                var Country = document.getElementById("txtCountry").value;
                var Currency = document.getElementById("txtCurrency").value;
                var Companysize = document.getElementById("txtCompanysize").value;
                var RegistrationStage = document.getElementById("txtRegistrationStage").value;

                if (legalname.trim() === "" || tradename.trim() === "" || Industry.trim() === "" || Country.trim() === "" ||
                    Currency.trim() === "" || Companysize.trim() === "" || RegistrationStage.trim() === "") {
                    alert("One or more fields are required!");
                }

                var organisationForm = $("#Registerform").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Organisation/Register",
                    data: organisationForm,
                    success: function () {
                        window.location.href = "/Organisation/Index"
                    }
                })

            })




            $(document).ready(function () {

                var s = document.getElementById("selectedOrganisation");
                s.hidden = true;


                $("#logout").click(function () {
                    alert("Called");

                    //$("#logoutModal").modal('show');

                    //var itmCatForm = $("#saveForm").serialize();
                    //$.ajax({
                    //    type: "POST",
                    //    url: "/ItemCategory/Create",
                    //    data: itmCatForm,
                    //    success: function () {
                    //        window.location.href = "/ItemCategory/Index"
                    //    }
                    //})
                })
            })

            var SelectOrganisationform = function (id) {
                
                var _div = document.getElementById("selectedOrganisation");
                var _lbl = document.getElementById("lblOrganisationName");
                _div.hidden = false;
                _lbl.textContent = "Selected Organisation is: " + id.split("|")[1];


            }

            


            var Confirm = function (id) {

                $("#ItmCatId").val(id);
                $("#deleteModalICategory").modal('show');

            }




            var Editform = function (id) {
                $.ajax({
                    type: "POST",
                    url: "/ItemCategory/GetCategory",
                    data: { id: id },
                    success: function (iCat) {
                        $("#editICategoryModal").modal('show');
                        $("#catCode").val(iCat.code);
                        $("#catDesc").val(iCat.name);
                        $(".updateId").val(iCat.id);
                    }
                })
            }
        </script>

    }
